# Датасеты и модели
*.csv
*.pth
*.pt
models/
ru_go_emotions_dataset/
final_train_dataset.csv
viralmoments.json

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Jupyter
*.ipynb_checkpoints

# Системные
.DS_Store
*.swp
*.swo
